@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueThin.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueThin.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueThin.otf') format('opentype') fallback;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueThinItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueThinItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueThinItalic.otf') format('opentype') fallback;
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueLight.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueLight.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueLight.otf') format('opentype') fallback;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueLightItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueLightItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueLightItalic.otf') format('opentype') fallback;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueRoman.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueRoman.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueRoman.otf') format('opentype') fallback;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueItalic.ttf') format('truetype') fallback;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueMedium.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueMedium.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueMedium.otf') format('opentype') fallback;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueMediumItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueMediumItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueMediumItalic.otf') format('opentype') fallback;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueBold.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueBold.otf') format('opentype') fallback;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueBoldItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueBoldItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueBoldItalic.otf') format('opentype') fallback;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueBlack.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueBlack.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueBlack.otf') format('opentype') fallback;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/helvetica/HelveticaNeueBlackItalic.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNeueBlackItalic.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueBlackItalic.otf') format('opentype') fallback;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
